{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
        <fieldset>
            <div>
                <h5 class = "index-subheader"><br><b>Username:</b>&nbsp; {{ user }}</br><br><b>Balance:</b>&nbsp; {{ userdict.balance }}</br><br><b>Address:</b>&nbsp; {{ userdict.address }}</br>
                </h5>
            </div>
            <div class = "form-group">
                <table align = "center">
                    <tr bgcolor="#f7f7f7">
                        <th>Stock A</th>
                        <th>Stock B</th>
                        <th>Stock C</th>
                        <th>Stock D</th>
                        <th>Stock E</th>
                    </tr>
                    <tr>
                        <td>{{ userdict.StockA }}</td>
                        <td>{{ userdict.StockB }}</td>
                        <td>{{ userdict.StockC }}</td>
                        <td>{{ userdict.StockD }}</td>
                        <td>{{ userdict.StockE }}</td>
                    </tr>
                </table>

                <table align = "center">
                    <tr bgcolor="#f7f7f7">
                        <th>Stock</th>
                        <th>Price</th>
                    </tr>
                    {% for key,value in stockdict.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </fieldset>
{% endblock %}